<!DOCTYPE html>
<html>

<head>
  <title>Kognitivni agent</title>
  {% include 'header.html' %}
  <script src="{{ url_for('static', filename='js/agent.js') }}"></script>
</head>

<body>
  <div id="paper">

    <div id="notSupported" style="display:none">
      Sorry, Firefox is not supported. Please use Chrome, Edge, Opera, Safari or Samsung browser.
    </div>

    <div class="video-container">
      <video class="video" id="agent" preload="true">
        <source src="{{ url_for('static', filename='media/video.mp4') }}" type="video/mp4">
      </video>
    </div>

    <center>
      <div id="output"> </div>
    </center>
    <div id="startupute">
      <center>
        <button class="button" id="start">Pokreni!</button>
      </center>
    </div>
  </div>
</body>

</html>