@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville|Racing+Sans+One|Satisfy|Permanent+Marker);

body {
    margin: 0;
    padding: 0;
    /*background-image: url("https://dragon.foi.hr/jura/media/school.jpg");*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: 100%;
    font-family: Permanent Marker;
    background-color: transparent; /*#bbb4ab;*/
}

#paper {
    background: #fff;
    width: 80%;
    max-width: 1000px;  /* Adjust based on your requirement */
    min-height: 500px;  /* Adjust based on your requirement */
    margin: 0 auto;
    box-shadow: 0px 10px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

#paper:before {
    content: '';
    position: absolute;
    bottom: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    z-index: -1;
}

#questions {
  width: 100%; 
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    #paper {
        width: 90%;
        padding: 10px;
    }
}



p {
    font-family: sans;
    font-size: 100%;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

em {
    font-family: Satisfy;
    font-size: 50%;
}

strong {
    font-family: Racing Sans One;
    font-size: 50%;
    letter-spacing: -2px;
}

h1, h2, h3, h4 {
    font-size: 400%;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

ul {
    list-style-position: inside;
}

li {
    font-size: 100%;
    font-family: sans;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
    line-height: 1.8em;
}

a {
    text-decoration: none;
    color: black;
}

#questions {
    display: none;
    font-size: 100%;
    font-family: sans;
    font-weight: normal;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
    padding-left: 0.3em;
    line-height: 1.8em;
}

.video-container {
    display: none;
    position: relative;
    width: 100%;  /* Make this 100% so it takes the full width of its parent */
    padding-top: 130%; /* This will give you a 16:9 aspect ratio. Adjust this value for other aspect ratios */
    margin: 1em auto;
    border: 1px solid #ddd;
    background: #bbb4ab;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Change fill to cover to maintain aspect ratio */
}

/*
.video-container {
    display: none;
    position: relative;
    width: 680px;
    height: 770px;
    margin: 1em auto;
    border: 1px solid #ddd;
    background: #bbb4ab;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
*/
.video-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    transform: rotate(-45deg);
    z-index: 1;
}
/*
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
}*/

.button {
  font-family: 'Permanent Marker', cursive;
  color: black;
  background-color: #bbb4ab;
  border: solid 3px black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0px 5px 0px 0px #333;
  transition: all 0.3s ease;
}

.button:active {
  box-shadow: 0px 2px 0px 0px #333;
  transform: translateY(3px);
}
